<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="belog_" version="3.0">

    <display-name>belog</display-name>

    <!-- 项目区分，防止默认重名-->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>belog.root</param-value>
    </context-param>



    <!-- 设置Spring容器加载配置文件路径-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--<param-value>classpath:spring/applicationContext.xml</param-value>-->
        <!--<param-value>classpath:spring/spring-install.xml</param-value>-->
        <param-value>classpath:spring/application-boot.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>belog</servlet-name>
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <servlet-class>me.beldon.boot.BootServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>belog</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <!-- 字符集过滤器-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>shiroFilter</filter-name>
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
        <filter-class>me.beldon.boot.BootFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    
</web-app>
