<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="belog.dao.PostsMetaMapper" >
  <resultMap id="BaseResultMap" type="belog.pojo.po.PostsMeta" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, value, key, post_id
  </sql>
  <insert id="insertSelective" parameterType="belog.pojo.po.PostsMeta" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_post_meta
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="value != null" >
        value,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="belog.pojo.po.PostsMeta" >
    update t_post_meta
    <set >
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>