<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="belog.dao.TaxonomyMapper" >
  <resultMap id="BaseResultMap" type="belog.pojo.po.Taxonomy" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="BIGINT" />
    <result column="taxonomy" property="taxonomy" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="slug" property="slug" jdbcType="VARCHAR" />
    <result column="term_group" property="termGroup" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, count, description, parent, taxonomy, name, slug, term_group
  </sql>
  <insert id="insertSelective" parameterType="belog.pojo.po.Taxonomy" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_taxonomy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="count != null" >
        count,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="taxonomy != null" >
        taxonomy,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="slug != null" >
        slug,
      </if>
      <if test="termGroup != null" >
        term_group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=BIGINT},
      </if>
      <if test="taxonomy != null" >
        #{taxonomy,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null" >
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="termGroup != null" >
        #{termGroup,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="belog.pojo.po.Taxonomy" >
    update t_taxonomy
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=BIGINT},
      </if>
      <if test="taxonomy != null" >
        taxonomy = #{taxonomy,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null" >
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="termGroup != null" >
        term_group = #{termGroup,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>