<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://belog.beldon.me/schema/plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://belog.beldon.me/schema/plugin
        http://belog.beldon.me/schema/plugin/belog.xsd">
    <id>me.beldon.third.login</id>
    <name>第三方登录</name>
    <version>0.0.1</version>
    <config-path>spring/spring-third-login.xml</config-path>
    <author>Beldon</author>

</plugin>
